.header {
    background-image: url('https://cdn.stocksnap.io/img-thumbs/960w/airplane-travel_TMYUIRV0BQ.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/* Styling for product's cards */

.card-product > .card-body {
    text-align: center!important;
}

.card-title {
    color: black!important;
}

.card a {
    text-decoration: none;
}

.card-product .card-text {
    color: gray!important;
}

.card-media {
    border: 0;
}

/* Custom BEM classes */

/* Style for displaying an ellipse after 2 line of text */
.line--clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
}

/* For a font size of 10pt */

.text--fs-10pt {
    font-size: 10pt!important;
}

.margin--ts-2rem {
    margin-top: 2rem;
}

.margin--s-n27rem {
    margin-inline-start: -27rem;
}

.margin-t-3rem {
    margin-top: 3rem;
}

.margin-b-3rem {
    margin-bottom: 3rem;
}

.height--max-10rem {
    max-height: 10rem;
}

.icon--size-5 {
    height: 5rem;
    width: 5rem;
}

.text--align-justify {
    text-align: justify;
    text-align-last: center;
}

.margin--l-m250px {
    margin-right: -250px;
}

.text--color-gray {
    color: gray!important;
}

.bg--color-light-green {
    background-color: rgb(229, 242, 212);
}

.text--color-dark-green {
    color: rgb(135, 186, 62);
}

.text--between-quotes::before {
    content: '"';
}
.text--between-quotes::after {
    content: '"';
}